@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body {
  font-family: "JetBrains Mono", monospace;
}

p.temp-text {
  border: 1px solid;
  padding: 1em;
  opacity: 0.5;
}

#image-output-grayscale {
  filter: grayscale(100%);
}

img {
  display: block;
}